// Product Configuration

exports.product = {
    name: 'Postmile'
};


// Server Configuration

exports.host = {
    web: {
        domain: 'localhost',
        port: 8000,
        scheme: 'http'
    },
    api: {
        domain: 'localhost',
        port: 8001,
        scheme: 'http'
    },
    uri: function (type) {
        var set = (type === 'web' ? exports.host.web : exports.host.api);
        return set.scheme + '://' + set.domain + (set.port ? ':' + set.port : '');
    },
    authority: function (type) {
        var set = (type === 'web' ? exports.host.web : exports.host.api);
        return set.domain + (set.port ? ':' + set.port : '');
    }
};


// Database Configuration

exports.database = {
    host: '127.0.0.1',
    port: 27017,
    db: 'postmile'
};


// Email Configuration

exports.email = {
    fromName: 'Postmile',
    replyTo: 'no-reply@your.domain',
    admin: 'admin@your.domain',
    feedback: 'admin@your.domain',
    server: {
//      port: 25,
//      user: '',
//      password: '',
//      host: 'localhost',
//      ssl: false
    }
};

