// Email token

exports.emailToken = {
    aes256Key: '934nx93485n9348y5nx347y5xb'
};


// Oz token

exports.ozTicket = {
    password: 'x3nq9485nx93845x93845nx3948'
};


// Database credentials

exports.database = {
    username: '',
    password: ''
};


// Jar encryption key

exports.yar = {
    password: '8udnx589qx34u5n93q48un5dx4'
};


// Session token encryption key

exports.session = {
    password: 'xc9348u5n9384u5n93485nu934'
};


// Postmile API

exports.apiClient = {
    id: '52db87c1f809334d61000001',
    key: '6AwYvqT9lgx594P2PRiu6cWCuAZAbVkd6Zkschk78OYZdmEG07w3WicWttgf2CCG',
    algorithm: 'sha256'
};

exports.viewClient = {
    id: '52db87c1f809334d61000002',
    key: '',
    algorithm: 'sha256'
};


// Twitter

exports.twitter = {
    clientId: '',
    clientSecret: ''
};


// Facebook

exports.facebook = {
    clientId: '',
    clientSecret: '',
};


// Yahoo!

exports.yahoo = {
    clientId: '',
    clientSecret: ''
};

