// Jar encryption key

exports.yar = {
    password: ''
};


// Session token encryption key

exports.session = {
    password: ''
};


// Postmile API

exports.apiClient = {
    id: '',
    key: '',
    algorithm: 'sha256'
};

exports.viewClient = {
    id: '',
    key: '',
    algorithm: 'sha256'
};


// Twitter

exports.twitter = {
    clientId: '',
    clientSecret: ''
};


// Facebook

exports.facebook = {
    clientId: '',
    clientSecret: '',
};


// Yahoo!

exports.yahoo = {
    clientId: '',
    clientSecret: ''
};

