#two-columns
  .left
    ul.login-nav
      li
        a(href: '/account/profile') Profile
      li.active
        a(href: '/account/linked') Linked Accounts
      li
        a(href: '/account/emails') Email Addresses

    a#bottom.blue(href: '/') &larr; Back to #{product.name}

  .right.icons
    - if ((auth.facebook && profile.facebook) || (auth.twitter && profile.twitter) || (auth.yahoo && profile.yahoo))
      h3 Your account is linked to:
      p
        - if (auth.facebook && profile.facebook)
          .facebook.icon Facebook 
        - if (auth.twitter && profile.twitter)
          .twitter.icon Twitter 
        - if (auth.yahoo && profile.yahoo)
          .yahoo.icon Yahoo 
    br

    h3 Manage your connections:
    ul.social-connects
      - if (auth.facebook)
        - if (profile.facebook)
          li.facebook-disconnect
            a(href: 'javascript: unlink("facebook");')
              span.text-position Disconnect from Facebook
        - else
          li.facebook-connect
            a(href: '/auth/facebook')
              span.text-position Connect to Facebook

      - if (auth.twitter)
        - if (profile.twitter)
          li.twitter-disconnect
            a(href: 'javascript: unlink("twitter");')
              span.text-position Disconnect from Twitter
        - else
          li.twitter-connect
            a(href: '/auth/twitter')
              span.text-position Connect to Twitter

      - if (auth.yahoo)
        - if (profile.yahoo)
          li.yahoo-disconnect
            a(href: 'javascript: unlink("yahoo");')
              span.text-position Disconnect from Yahoo!
        - else
          li.yahoo-connect
            a(href: '/auth/yahoo')
              span.text-position Connect to Yahoo!

  .clearfix

form#unlink(method: 'post', action: '/account/unlink')
  input(type: 'hidden', name: 'crumb', value: crumb)
  input#unlink-name(type: 'hidden', name: 'network')
