#two-columns
  .left
    ul.login-nav
      li.active
        a(href: '/account/profile') Profile
      li
        a(href: '/account/linked') Linked Accounts
      li
        a(href: '/account/emails') Email Addresses

    a#bottom.blue(href: '/') &larr; Back to #{product.name}

  .right
    form#profile-form(method: 'post', action: '/account/profile')
      input(type: 'hidden', name: 'crumb', value: crumb)
      label Username
        input#username(name: 'username', type: 'text', onkeyup: 'onUsernameKey(event);', value: (env.username || ''), autocomplete: 'off', placeholder: 'pick a username')
        #username-loading Loading
        br
        #username-status &nbsp;
      .clearfix

      label Name
        input#name(name: 'name', type: 'text', value: env.name, placeholder: 'your full name')
      .clearfix

    button.blue-button(type: 'submit', onclick: 'updateProfile();') Save Changes
    .clearfix

  .clearfix
#profile-sure.modal
  .title Are you sure?
  .text Changing your username or name will immediately affect how your account is displayed to others.
  button.blue-button(onclick: 'closeOverlay();') Cancel
  button.blue-button(onclick: 'submitProfile()') Yes
