#two-columns
  .left
    ul.login-nav
      li
        a(href: '/about') About
      li
        a(href: '/privacy') Privacy
      li
        a(href: '/terms') Terms
      li.active
        a(href: '/feedback') Feedback

    a#bottom.blue(href: '/') &larr; Back to #{product.name}

  .right
    h3 Got Feedback?

    #text-box
      - if (env.message)
        p Thanks for taking the time to provide us with valuable feedback. We can't respond to every message but we take our users opinions very seriously and we will do our best to address it. Please keep your feedback coming!
      - else
        p The first rule of experimentation is to gather plenty of feedback. We would love to hear what you think, both good and bad.

        form(method: 'post', action: '/feedback')
          - if (profile)
            label Username
              input(value: profile.username, disabled: 'disabled')
              input(type: 'hidden', name: 'username', value: profile.username)
          - else
            label Name
              input(name: 'name', placeholder: 'your name...')
            .clearfix
            label Email
              input(name: 'email', placeholder: 'your email address...')
          .clearfix

          label Message
            textarea(name: 'message', placeholder: 'your message...')
          .clearfix
          button.blue-button(type: 'submit') Send Feedback

  .clearfix
