#two-columns
  .left
    ul.login-nav
      li.active
        a(href: '/tos') #{product.name} Invitation

    a#bottom.blue(href: '/') &larr; Back to #{product.name}

  .right
    h3 Invitation Error

    #text-box We're sorry but the invitation you received is no longer valid. It may have been cancelled, expired, or already used. There is also a small chance something just went wrong.

  .clearfix

