#error
  #stupid
  h2 your browser is not compatible with #{product.name}...

  .message #{product.name} requires new features available in the lastest versions of 
    a(href: 'http://www.google.com/chrome/') Chrome
    |, 
    a(href: 'http://www.apple.com/safari/download/') Safari
    |, and 
    a(href: 'http://www.mozilla.com/') Firefox
    |, but if you want to give it a try anyway, 
    a(href: '/imwithstupid') go ahead
    |.
