/*
* Copyright (c) 2011 Eran Hammer-Lahav. All rights reserved. Copyrights licensed under the New BSD License.
* See LICENSE file included with this code project for license terms.
*/

// Email token

exports.emailToken = {

    aes256Key: ''
};


// OAuth token

exports.oauthToken = {

    aes256Key: ''
};


// OAuth refresh token

exports.oauthRefresh = {

    aes256Key: ''
};


// Database credentials

exports.database = {

    username: '',
    password: ''
};
