// Jar encryption key

exports.jar = {
    aes256Key: ''
};


// Session token encryption key

exports.session = {
    aes256Key: ''
};


// Postmile API

exports.postmileAPI = {
    clientId: '',
    clientSecret: '',
    viewClientId: ''
};


// Twitter

exports.twitter = {
    clientId: '',
    clientSecret: ''
};


// Facebook

exports.facebook = {
    clientId: '',
    clientSecret: '',
};


// Yahoo!

exports.yahoo = {
    clientId: '',
    clientSecret: ''
};

