/*
* Copyright (c) 2011 Eran Hammer-Lahav. All rights reserved. Copyrights licensed under the New BSD License.
* See LICENSE file included with this code project for license terms.
*/

// Jar encryption key

exports.jar = {

    aes256Key: ''
};


// Session token encryption key

exports.session = {

    aes256Key: ''
};


// Postmile API

exports.postmileAPI = {

    clientId: 'postmile.web',
    clientSecret: ''
};


// Twitter

exports.twitter = {

    clientId: '',
    clientSecret: ''
};


// Facebook

exports.facebook = {

    clientId: '',
    clientSecret: '',
};


// Yahoo!

exports.yahoo = {

    clientId: '',
    clientSecret: ''
};

